<html>
  <head>
    <title>Articles | All</title>
  </head>
  <body>
    <% articles.forEach(i => { %>
    <div>
      <h1><%= i.title %></h1>
      <h3><%= i.author %></h3>
      <p><%= i.body %></p>
    </div>
    <% }) %>
  </body>
</html>
